name: renovate-config-validator

on:
  workflow_call:
    inputs:
      config_files:
        description: "renovate設定ファイルのパス。複数の場合はスペース区切りで指定する。"
        type: string
        default: ".github/renovate.json"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  renovate-config-validator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - name: Setup Node.js
        uses: actions/setup-node@39370e3970a6d050c480ffad4ff0ed4d3fdee5af # v4
        with:
          node-version: "24"

      - name: Cache npm
        uses: actions/cache@0c45773b623bea8c8e75f6c82b208c3cf94ea4f9 # v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node

      - name: Validate
        run: |
          echo "${{ inputs.config_files }}" | xargs npx -y -p renovate -- renovate-config-validator --strict
